body {
    background-color: hsl(235, 18%, 26%);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main h1 {
    font-weight: bold;
    font-size: 55px;
    color: hsl(234, 29%, 20%);
    margin: 0;
}

.sign-up-form h1{
    text-align: center;
}

main p {
    color: hsl(234, 29%, 20%);
    margin-bottom: 25px;
}

.sign-up-body {
    background-color: white;
    width: 925px;
    height: 650px;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
}



.sign-up-box {
    
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-box img {
    display: inline-block;
}

.sign-up-form {
    width: 375px;
}

.sign-up-form ul{
    list-style-image: url(./assets/images/icon-list.svg);
    -webkit-padding-start: 30px;
}

.sign-up-form li{
    padding-left: 10px;
    margin-bottom: 10px;
}

.email-label-box{
    margin-top: 25px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.email-label-box label, .email-label-box #email-error-label{
    font-size: 12px;
    font-weight: bold;
}

.email-label-box #email-error-label{
    color: #DC8A8C;
    display: inline-block;
    display: none;
}

.email-label-box #email-error-label{
    color: #DC8A8C;
    display: inline-block;
    display: none;
}

.email-label-box #email-error-label.email-error{
    display: inline-block;
}

.sign-up-form #email-input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid hsl(231, 7%, 60%);
    padding-left: 20px;
    font-size: 15px;
    font-family: inherit;
    font-weight: 400;
    margin-bottom: 25px;
    cursor:pointer;
}

.sign-up-form #email-input:focus-visible {
    border: 2px solid black;
}

.sign-up-form #email-input.email-error{
    background-color: #FFE8E6;
    border-color: #DC8A8C;
}

.sign-up-form #email-input.email-error::placeholder{
    color: #DC8A8C;
}

.sign-up-form #sign-up-button, #popup-content #close-popup-button {
    border-width: 0;
    width: 100%;
    background-color: hsl(234, 29%, 20%);
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: 400;
    line-height: inherit;
    color: white;
    height: 50px;
    box-sizing: border-box;
    border-radius: 10px;
}

.sign-up-form #sign-up-button:hover, #popup-content #close-popup-button:hover {
    background-image: linear-gradient(to right, #FB557B , hsl(4, 100%, 67%));
    cursor: pointer;
    box-shadow: 0 5px 15px -3px hsl(4, 100%, 67%);
}

#sign-up-popup{
    display: none;
    background-color: hsl(234, 29%, 20%);
}

#sign-up-popup.email-success{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup-content{
    background-color: white;
    border-radius: 30px;
    width: 510px;
    height: 520px;
    padding: 60px;
    box-sizing: border-box;
}

#popup-content .confirmation-text-box{
    margin: 30px 0;
}

#popup-content #user-email-span{
    font-weight: bold;
}

footer{
    position: absolute;
    bottom: 0;
    text-align: center;
}